<h1>Tu Carrito</h1>

{{#if cart.length}}
    {{#each cart}}
        <div class="cart-item">
            <h3>Producto: {{product}}</h3>
            <p>Precio por unidad: ${{price}}</p>
            <p>Cantidad: {{quantity}}</p>
            <p>Total por este producto: ${{total}}</p>
        </div>
        <hr>
    {{/each}}

    <h2>Precio Total del Carrito: ${{total}}</h2>
<a href="/api/sessions/current">Volver a la tienda</a> <!-- Enlace a la página de productos -->
{{else}}
    <p>Tu carrito está vacío</p>
<a href="/api/sessions/current">Volver a la tienda</a> <!-- Enlace a la página de productos -->
{{/if}}

